@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


.bg-grid {
  background-image: 
    linear-gradient(to right, rgba(5, 4, 4, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(5, 4, 4, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

.dark .bg-grid {
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.089) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.089) 1px, transparent 1px);
}

.html, #root, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  @apply text-sm;
  @apply bg-light-background;
  @apply dark:bg-dark-background;
}

/* #fbfdfc
#202831
#e76756

//text
text-color #222222
line-height-1.6
font -inder
font weight-400
font-size 16px
//background color -- #FFFFFF
 */

@theme{
  --color-dark-background: #242124;
  --color-bahia-50: #feffe5;
  --color-bahia-100: #fbffc6;
  --color-bahia-200: #f4ff95;
  --color-bahia-300: #e7ff57;
  --color-bahia-400: #d7f625;
  --color-bahia-500: #afd105;
  --color-bahia-600: #90b100;
  --color-bahia-700: #6c8605;
  --color-bahia-800: #56690b;
  --color-bahia-950: #47590e;
  --color-light-background: #fbfdfc;
  --color-dark-navbar-background: #1a1d1c;
  --color-light-navbar-background: #fafafa;
}
